.cool-people-webring-widget {
  background-color: silver;
  border: 1px double black;
  color: #009900;
}

.cool-people-webring-widget a {
  text-decoration: none;
}

.cool-people-webring-widget a:hover {
  font-weight: bold;
}
